<h1>Editing healthrecord</h1>
<%#Here for linking to the page of editing the attributes of the healthrecords%>
<%= render 'form' %>
<%#Here for linking to the page of the healthrecords%>
<%= link_to 'Show', @healthrecord %> |
<%= link_to 'Back', healthrecords_path %>
