<h1>New healthrecord</h1>
<%#Here to go to the form of assigning attributes to healthrecords%>
<%= render 'form' %>
<%#Here to go back to the page of showing the different values of the healthrecords attributes%>
<%= link_to 'Back', healthrecords_path %>
