
<!DOCTYPE html>
<html>
<body>


<h1>omar</h1>
<script type="text/javascript" >
document.getElementById("myResults").innerHTML = "Hello World!";
document.getElementById("myResults").textContent = "my text";
//var l = gon.longlat;
//var x = l[1];

document.write("omar");

</script>

osdkofkfpk;pgk,;
<div id="myResults"></div>


</html>
</body>