<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>smartSoft</title>

<link href="templatemo_style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="templatemo_wrapper">
	   <span class="fruit"></span>
    
    <div id="templatemo_header">
    
        <div id="site_title">
            <h1><a href="index.html">
                
               

            </a></h1>
        </div>
 <span><img src="images/shopFood.png" alt="fruit mix" /></span>
        <div id="templatemo_menu">
            <ul>
                <li><a href="index.html" class="first">Home</a></li>
                <li><a href="products.html">Products</a></li>
                <li><a href="news.html">News</a></li>
                <li><a href="about.html">Company</a></li>
                <li><a href="contact.html" class="current">Contact</a></li>
            </ul> 
        </div> <!-- end of templatemo_menu -->
    
    	<div class="cleaner"></div>
    </div> <!-- end of templatmeo_header -->
    
    <div id="templatemo_main">
    
        <div id="templatemo_sidebar">
        
        	<div class="cleaner_h30"></div>
            
        	<h3>Categories</h3>
        
            <ul class="categories_list">
               
			</ul>
        
        </div> <!-- end of templatemo_sidebar -->
        
        <div id="templatemo_content">
        
            
            
          <div class="cleaner_h50"></div>
            
            <div class="box_w270 float_l">
                </div> 
            
            <div class="box_w270 float_r">
               
                <strong></strong> <a href="#"></a></div>    
            
            
            <div class="cleaner_h50"></div>
            
            <div id="contact_form">
            
            	<h3>Send us a message</h3>
            
                <form method="post" name="contact" action="#">
                
                    <input type="hidden" name="post" value="Send" />
                  <label for="author">Name:</label> <input type="text" id="author" name="author" class="required input_field" />
                    <div class="cleaner_h10"></div>
                    
                    <label for="email">Email:</label> <input type="text" id="email" name="email" class="validate-email required input_field" />
                    <div class="cleaner_h10"></div>
                    
                    <label for="url">Phone:</label> <input type="text" name="url" id="url" class="input_field" />
                  <div class="cleaner_h10"></div>
                    
                    <label for="text">Message:</label> <textarea id="text" name="text" rows="0" cols="0" class="required"></textarea>
                    <div class="cleaner_h10"></div>
                    
                    <input style="font-weight: bold;" type="submit" class="submit_btn" name="submit" id="submit" value=" Send " />
                    <input style="font-weight: bold;" type="reset" class="submit_btn" name="reset" id="reset" value=" Reset " />
                
              </form>
                
            </div>
            
        </div> <!-- end of templatemo_content -->
    	
        <div class="cleaner"></div>
    </div> <!-- end of templatemo_main -->

	<div class="cleaner"></div>
</div> <!-- end of wrapper -->

<div id="templatemo_footer_wrapper">
	<div id="templatemo_footer"><span class="cup"></span> <span class="footer_friut"></span>

        </body>
