<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Fruit Mix - free web templates</title>
<meta name="keywords" content="fruit mix, news, free web templates, web design, templatemo" />
<meta name="description" content="Fruit Mix (News Page) - Free web Template provided by templatemo.com" />
<link href="templatemo_style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="templatemo_wrapper">
	<span class="fruit"></span>
    
    <div id="templatemo_header">
    
        <div id="site_title">
            <h1><a href="index.html">
                
               

            </a></h1>
        </div>
 <span><img src="images/shopFood.png" alt="fruit mix" /></span>
        <div id="templatemo_menu">
            <ul>
                <li><a href="index.html" class="first">Home</a></li>
                <li><a href="products.html">Products</a></li>
                <li><a href="news.html" class="current">News</a></li>
                <li><a href="about.html">Company</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul> 
        </div> <!-- end of templatemo_menu -->
    
    	<div class="cleaner"></div>
    </div> <!-- end of templatmeo_header -->
    
    <div id="templatemo_main">
    
        <div id="templatemo_sidebar">
        
        	<div class="cleaner_h30"></div>
            
        	<h3>Categories</h3>
        
            <ul class="categories_list">
         
			</ul>
        
        </div> <!-- end of templatemo_sidebar -->
        
        <div id="templatemo_content">
        
            <h1>Latest News</h1>
            
          
            
            <div class="cleaner_h40"></div>
            
             <div class="news_box">
           <h2>Orange</h2>
            
            	<div class="left">
               		<a href="#"><img src="images/templatemo_image_03.jpg" alt="image 3" /></a>                </div>
                
            <div class="right">
                	
                    <div class="button"><a href="#">Detail</a></div>
                    
               </div>
                
                <div class="cleaner"></div>
        </div>
        
         <div class="news_box">
        
            <h2>Strawberry</h2>
            
                <div class="left">
                	<a href="#"><img src="images/templatemo_image_04.jpg" alt="image 4" /></a>                </div>
                
    <div class="right">
                
                	<p></p>
                    <div class="button"><a href="#">Detail</a></div>
                  
                </div>
                
                <div class="cleaner"></div>
          </div>
            
            
        </div> <!-- end of templatemo_content -->
    	
        <div class="cleaner"></div>
    </div> <!-- end of templatemo_main -->

	<div class="cleaner"></div>
</div> <!-- end of wrapper -->

<div id="templatemo_footer_wrapper">
	<div id="templatemo_footer"><span class="cup"></span> <span class="footer_friut"></span>

        Copyright © 2014 <a href="#">smartSoft</a><br /> 
       
    </div> <!-- end of templatemo_footer -->
    
    <div class="cleaner"></div>
</div> <!-- end of templatemo_footer_wrapper -->

<div align=center> Thank you </div></body>
</html>