<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>free website template - templatemo.com</title>
<meta name="keywords" content="fruit mix, products, free css templates, web design, templatemo" />
<meta name="description" content="Fruit Mix (Product Page) - Free CSS Template provided by templatemo.com" />
<link href="templatemo_style.css" rel="stylesheet" type="text/css" />

<!--////// CHOOSE ONE OF THE 3 PIROBOX STYLES  \\\\\\\-->
<link href="css_pirobox/white/style.css" media="screen" title="shadow" rel="stylesheet" type="text/css" />
<!--<link href="css_pirobox/white/style.css" media="screen" title="white" rel="stylesheet" type="text/css" />
<link href="css_pirobox/black/style.css" media="screen" title="black" rel="stylesheet" type="text/css" />-->
<!--////// END  \\\\\\\-->

<!--////// INCLUDE THE JS AND PIROBOX OPTION IN YOUR HEADER  \\\\\\\-->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/piroBox.1_2.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	$().piroBox({
			my_speed: 600, //animation speed
			bg_alpha: 0.7, //background opacity
			radius: 4, //caption rounded corner
			scrollImage : false, // true == image follows the page, false == image remains in the same open position
			pirobox_next : 'piro_next', // Nav buttons -> piro_next == inside piroBox , piro_next_out == outside piroBox
			pirobox_prev : 'piro_prev',// Nav buttons -> piro_prev == inside piroBox , piro_prev_out == outside piroBox
			close_all : '.piro_close',// add class .piro_overlay(with comma)if you want overlay click close piroBox
			slideShow : 'slideshow', // just delete slideshow between '' if you don't want it.
			slideSpeed : 4 //slideshow duration in seconds(3 to 6 Recommended)
	});
});
</script>
<!--////// END  \\\\\\\-->


</head>

<body>

<div id="templatemo_wrapper">
	   <span class="fruit"></span>
    
    <div id="templatemo_header">
    
        <div id="site_title">
            <h1><a href="index.html">
                
               

            </a></h1>
        </div>
 <span><img src="images/shopFood.png" alt="fruit mix" /></span>

        <div id="templatemo_menu">
            
      		<ul>
                <li><a href="index.html" class="first">Home</a></li>
                <li><a href="products.html" class="current">Products</a></li>
                <li><a href="news.html">News</a></li>
                <li><a href="about.html">Company</a></li>
            	<li><a href="contact.html">Contact</a></li>
            </ul> 
        </div> <!-- end of templatemo_menu -->
    
    	<div class="cleaner"></div>
    </div> <!-- end of templatmeo_header -->
    
    <div id="templatemo_main">
    
        <div id="templatemo_sidebar">
        
        	<div class="cleaner_h30"></div>
            
        	<h3>Categories</h3>
        
            <ul class="categories_list">
            
			</ul>
        
        </div> <!-- end of templatemo_sidebar -->
        
        <div id="templatemo_content">
        
          <h1>High Quality Products</h1>
          
            <br>
            <br>
           
            

            <div class="cleaner_h40"></div>
            
            <div class="product_box">
                            
                <a href="images/product/01_l.jpg"  class="pirobox"><img src="images/product/01.jpg" alt="image" /></a>
                
            
               
                <div class="button"><a href="#">Detail</a></div>
                    
          </div>
             
            <div class="product_box">
                        
                <a href="images/product/02_l.jpg"  class="pirobox"><img src="images/product/02.jpg" alt="image" /></a>
                
                <h6></h6>
                <p> </p>
                <div class="button"><a href="#">Detail</a></div>
                
          </div>

             
            <div class="product_box">
                        
                <a href="images/product/03_l.jpg"  class="pirobox"><img src="images/product/03.jpg" alt="image" /></a>
                
                <h6></h6>
                <p></p>
                <div class="button"><a href="#">Detail</a></div>
                
          </div>
             
            <div class="product_box">
                        
                <a href="images/product/04_l.jpg"  class="pirobox"><img src="images/product/04.jpg" alt="image" /></a>
                
                <h6></h6>
                <p> </p>
                <div class="button"><a href="#">Detail</a></div>
                
          </div>
             
            <div class="product_box">
                        
                <a href="images/product/05_l.jpg"  class="pirobox"><img src="images/product/05.jpg" alt="image" /></a>
                
                <h6></h6>
                <p></p>
                <div class="button"><a href="#">Detail</a></div>
                
          </div>
             
            <div class="product_box">
                        
                <a href="images/product/06_l.jpg"  class="pirobox"><img src="images/product/06.jpg" alt="image" /></a>
                
                <h6></h6>
                <p> </p>
                <div class="button"><a href="#">Detail</a></div>
                
          </div>
        
           
            
            
        </div> <!-- end of templatemo_content -->
    	
        <div class="cleaner"></div>
    </div> <!-- end of templatemo_main -->

	<div class="cleaner"></div>
</div> <!-- end of wrapper -->

<div id="templatemo_footer_wrapper">
	<div id="templatemo_footer"><span class="cup"></span> <span class="footer_friut"></span>

        Copyright © 2014 <a href="#">smartSoft</a><br /> 
           </div> <!-- end of templatemo_footer -->
    
    <div class="cleaner"></div>
</div> <!-- end of templatemo_footer_wrapper -->

</body>
<div align=center> Thank you </div></body>
</html>