<!-- This the Users/Admins Hub Page which is the Home page that shows New/Recommended Items -->

<h1> Hub </h1>
<<<<<<< HEAD
<% @tmp = current_member %>
<t> User ID = <%= @tmp.id %> </t>
=======
<t> User ID = <%= current_member.id %> </t>
>>>>>>> master
