

<!--to check the adminstration level-->
<%if @admin == false%>
<h1>YOU ARE NOT AUTHOURIZED TO SEE THIS PAGE !</h1>
<%= link_to_function "Back", "history.back()" %>


<!--to check the adminstration level-->
<%elsif @admin == true %>

 <h3>Users</h3>

<!--(GUI Team) This is the page where admin sees All Members in the System -->

<h3>Users</h3>

<ul class="members">
  <% @members.each do |member| %>
    <li>
      <%= link_to member.email, member %> 
    </li>
  <% end %>

   </ul>


  <%end%>


</ul>



