 <!-- #Author:Fatma Emran
      #Team:2
      #Function: A page showing all the items the current user cannot order.
      #if a user doesn't have any diseases or didn't complete their health profile,then there will be no restricted items -->
       <% if @member.diseases.count == 0 %>
         <h1> There are no items to be shown </h1>
           <t1> You do not have any items that violate your health conditions/Please make sure that you completed your health profile's information before checking this page..</t1>
       <% else %>
             <h2> Results </h2>
             <t2> Here is the list of items that you cannot order for your health conditions </t2>
             <t3> To check the information related to any other items that you can order, Please browse/search the web.</t3>
             <% @member.diseases.each do |disease_name| %>
             <% disease_name.restricted_items.each do |item_name| %>
             <t> item_name.name </t>
       <% end %>

