<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <%= stylesheet_link_tag "welcome", :media => "all" %>
    <meta charset="utf-8">
    <title>Healthy Grocery</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
  </head>
  <body>
    <!-- /.navbar -->
    <div id="top" class="jumbotron" style="padding-bottom:50px;">
      <div class="container">
        <h1 style="font-size:80px;position:relative;top:-60px;">Healthy Grocery</h1>
        <h2 style="font-size:25px;position:relative;top:-30px;">"To keep the body in good health is a duty... otherwise we shall not be able to keep our mind strong and clear." Buddha</h2>
        <p><a class="btn btn-primary btn-lg" href="/members/index" 
        style="position:relative;top:0px;">Sign In Now
            <span class="glyphicon glyphicon-circle-arrow-right"></span></a></p>
      </div>
      <!-- /.container -->
    </div>
    <!-- /.jumbotron -->
    <div class="container" style="position:relative;top:35px;">
      <div class="row benefits">
        <div class="col-md-4 col-sm-6 benefit">
          <div class="benefit-ball">
            <span class="glyphicon glyphicon-home"></span>
          </div>
          <h3>Better Attitude</h3>
          <p>A healthy attitude is contagious but don't wait to catch it from others. Be a carrier</p>
        </div>
        <!-- /.benefit -->
        <div class="col-md-4 col-sm-6 benefit">
          <div class="benefit-ball">
            <span class="glyphicon glyphicon-cloud"></span>
          </div>
          <h3>Think Better</h3>
          <p>The way you think, the way you behave, the way you eat, can influence your life by 30 to 50 years</p>
        </div>
        <!-- /.benefit -->
        <div class="col-md-4 col-sm-6 benefit">
          <div class="benefit-ball">
            <span class="glyphicon glyphicon-bell"></span>
          </div>
          <h3>Live Better</h3>
          <p>A healthy outside starts from the inside</p>
        </div>
        <!-- /.benefit -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </body>
</html>
