<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Healthy Grocery</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= stylesheet_link_tag "boot", :media => "all" %>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <%= stylesheet_link_tag "welcome", :media => "all" %>
  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          </button>
        </div>
        <!-- /.navbar-header -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>
    <!-- /.navbar -->
    <div id="top" class="jumbotron">
      <div class="container">
        <h1>Healthy Grocery</h1>
        <h2>"To keep the body in good health is a duty... otherwise we shall not be able to keep our mind strong and clear." Buddha</h2>
        <p><a class="btn btn-primary btn-lg" href="/members/index">Sign Up Today
            <span class="glyphicon glyphicon-circle-arrow-right"></span></a></p>
      </div>
      <!-- /.container -->
    </div>
    <!-- /.jumbotron -->
    <div class="container">
      <div class="row benefits">
        <div class="col-md-4 col-sm-6 benefit">
          <div class="benefit-ball">
            <span class="glyphicon glyphicon-home"></span>
          </div>
          <h3>Better Attitude</h3>
          <p>A healthy attitude is contagious but don't wait to catch it from others. Be a carrier</p>
        </div>
        <!-- /.benefit -->
        <div class="col-md-4 col-sm-6 benefit">
          <div class="benefit-ball">
            <span class="glyphicon glyphicon-cloud"></span>
          </div>
          <h3>Think Better</h3>
          <p>The way you think, the way you behave, the way you eat, can influence your life by 30 to 50 years</p>
        </div>
        <!-- /.benefit -->
        <div class="col-md-4 col-sm-6 benefit">
          <div class="benefit-ball">
            <span class="glyphicon glyphicon-bell"></span>
          </div>
          <h3>Live Better</h3>
          <p>A healthy outside starts from the inside</p>
        </div>
        <!-- /.benefit -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </body>
</html>
