<%#
Author: Mohamed Saeed
#Team : 1
#View : Show Wishline
#This view shows the user's wishline
%>

<p id="notice"><%= notice %></p>
<%= link_to 'Edit', edit_wishline_path(@wishline) %> |
<%= link_to 'Back', wishlines_path %>
