<h1>Editing driver</h1>
 <% # Author: Hazem Amin %>
 <% # Component: 5 %>
 <% # When it's asked to edit a new driver, we'll be navigated here %>
<%= render 'form' %>

<%= link_to 'Show', @driver %> |
<%= link_to 'Back', drivers_path %>
