<h1>Editing driver</h1>
 <% # Author: Hazem Amin %>
 <% # Component: 5 %>
 <% # When it's asked to edit a new driver, we'll be navigated here %>
<%= render 'form' %>

<h2> <%= link_to 'Show', @driver %> </h2>
<h2> <%= link_to 'Back', drivers_path %> </h2>
