<h1>New driver</h1>
 <% # Author: Hazem Amin %>
 <% # Component: 5 %>
 <% # When it's asked to add a new driver, we'll be navigated here %>
<%= render 'form' %>


 <h2> <%= link_to 'Back', drivers_path %> </h2>