 <!DOCTYPE html>
<html>

<%= stylesheet_link_tag "application", :media => "all" %>
<style type="text/css">
  body{
    text-align: center;
    padding-top: 60px; 
  }
</style>
  
<head>
  <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#"> <font color = "#EE872A">Sign in@HealthyGrocery</font></a>
          <div class="container nav-collapse">
            <ul class="nav">
             
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
</head>
<body>
<%= yield %>
            
            
</div>
            
</body>
</html>