<%= form_for(@health_record) do |f| %>
  <% if @health_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@health_record.errors.count, "error") %> prohibited this health_record from being saved:</h2>

      <ul>
      <% @health_record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<h3>ya rab</h3>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
