<div class="page-header">
  <h1>Listing shipments</h1>
</div>
<br>
<br>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th colspan="1">Shipment ID</th>
      <th colspan="1">Created at</th>
      <th colspan="1"></th> 
    </tr>
  </thead>
  <tbody>
    <% unless @shipments.empty? %>
    <%= paginate @shipments %>
      <% @shipments.each do |shipment| %>
        <tr>
          <td><%= shipment.id %></td>
          <td><%= shipment.created_at %></td> 
          <td>
             <%= link_to(shipment, class: "btn btn-small") do %>
                Show <i class="icon-show icon-white"></i>
             <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="0">No shipments are created yet</td>
      </tr>
    <% end %>
  </tbody>
</table>
