<!--# Author : Karim El-Bawab
    # Team: 4
    # View name: _next_page 
    # Function: This file used to add bootstrap style on the button 
    # of the next page of pagination related to kaminari gem  
-->
<li>
  <%= link_to_unless current_page.last?, raw(t 'views.pagination.next'), url, :rel => 'next', :remote => remote %>
</li>
